body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

.message {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.message p {
    margin: 5px 0;
}

.message-info {
    justify-content: left;
    align-items: left; /* Not needed */
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.message-content {
    margin-top: 10px;
}

.message button {
    background-color: #008cba;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.message button:hover {
    background-color: #0077a3;
}

.messageForm {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.messageForm textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    font-size: 14px;
}

.formAnswer {
    min-height: 100px;
}

.messageForm button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.messageForm button:hover {
    background-color: #45a049;
}

.error {
    color: #ff0000;
    margin-top: 5px;
}

/* NEW STYLES */

.post-header {
    display: flex;
    align-items: center;
}

.user-info h3 {
    margin: 0;
    font-size: 18px;
    color: #333333;
}

.user-info p {
    margin: 0;
    font-size: 14px;
    color: #666666;
}

.post-content {
    margin-top: 10px;
}

.post-content p {
    line-height: 1.6;
    margin-bottom: 10px;
}

.post-footer {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.like-btn {
    padding: 5px 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.like-btn:hover {
    background-color: #45a049;
}

.like-count {
    margin-left: 10px;
    font-size: 14px;
    color: #666666;
}
